Repository playcanvas/engine, pull requests merged in 2021-05, with the labels that each got.

#3141 Revert "Environment BRDF chunks (#3126)"
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/envBrdfApprox.frag
  src/graphics/program-lib/chunks/envBrdfNone.frag
  src/graphics/program-lib/chunks/reflectionCC.frag
  src/graphics/program-lib/chunks/reflectionPrefilteredCube.frag
  src/graphics/program-lib/chunks/reflectionPrefilteredCubeLod.frag
  src/graphics/program-lib/programs/standard.js
Labels: bug

#3140 Forward-renderer refactoring - moved shadow related code out
  examples/graphics/lights.html
  src/deprecated.js
  src/framework/application.js
  src/graphics/program-lib/programs/standard.js
  src/index.js
  src/scene/light.js
  src/scene/lightmapper.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/shadow-map-manager.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics

#3153 [AnimComponent] Transition exit time fix
  src/anim/binder/default-anim-binder.js
  src/anim/controller/anim-controller.js
Labels: area: animation, bug

#3158 Small miscellaneous fixes
  src/graphics/graphics-device.js
  src/graphics/program-lib/chunks/reflectionPrefilteredCubeLod.frag
  src/graphics/reproject-texture.js
Labels: bug

#3155 Shadow mapping refactoring
  examples/graphics/lights-baked.html
  examples/graphics/lights.html
  src/framework/application.js
  src/graphics/program-lib/programs/standard.js
  src/scene/constants.js
  src/scene/light.js
  src/scene/lightmapper.js
  src/scene/render-action.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/shadow-map-cache.js
  src/scene/renderer/shadow-map-manager.js
  src/scene/renderer/shadow-map.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics, enhancement

#3159 Added Base64 and blob check in Asset#getAbsoluteUrl
  src/asset/asset.js
Labels: area: assets

#3160 Moved area light LUT functionality to separate file
  src/framework/application.js
  src/scene/area-light-luts.js
  src/scene/renderer/forward-renderer.js
Labels: area: graphics, enhancement

#3162 Further small shadow rendering refactor + fix
  src/scene/light.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics, bug, enhancement

#3163 ES6 updates for GraphicsDevice
  .github/CONTRIBUTING.md
  src/graphics/graphics-device.js
Labels: area: graphics, enhancement

#3167 Updated reprojectTexture
  examples/graphics/render-to-cubemap.html
  src/graphics/reproject-texture.js
Labels: enhancement

#3169 Create skybox layer enabled
  src/framework/application.js
  src/scene/scene.js
Labels: bug

#3164 Upgrade RigidBodyComponent to current component structure
  scripts/physics/render-physics.js
  src/framework/components/rigid-body/component.js
  src/framework/components/rigid-body/data.js
  src/framework/components/rigid-body/system.js
Labels: area: physics, enhancement, performance

#3173 Small update scene registry JSDocs with example loadSceneData
  src/framework/scene-registry.js
Labels: area: assets, docs

#3151 Remove gl resize
  src/framework/application.js
  src/graphics/graphics-device.js
Labels: area: graphics, enhancement, release: next minor

#3180 Remove support for shadow coordinates generation in VS
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/shadowCoord.vert
  src/graphics/program-lib/programs/standard.js
  src/scene/renderer/forward-renderer.js
Labels: area: graphics, enhancement

#3157 Environment brdf fix
  examples/graphics/material-anisotropic.html
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/combineClearCoat.frag
  src/graphics/program-lib/chunks/combineDiffuseSpecular.frag
  src/graphics/program-lib/chunks/combineDiffuseSpecularNoConserve.frag
  src/graphics/program-lib/chunks/envBrdfApprox.frag
  src/graphics/program-lib/chunks/envBrdfNone.frag
  src/graphics/program-lib/chunks/reflectionCC.frag
  src/graphics/program-lib/chunks/reflectionCube.frag
  src/graphics/program-lib/chunks/reflectionDpAtlas.frag
  src/graphics/program-lib/chunks/reflectionPrefilteredCube.frag
  src/graphics/program-lib/chunks/reflectionPrefilteredCubeLod.frag
  src/graphics/program-lib/chunks/reflectionSphere.frag
  src/graphics/program-lib/chunks/reflectionSphereLow.frag
  src/graphics/program-lib/chunks/reproject.frag
  src/graphics/program-lib/programs/standard.js
Labels: area: graphics, bug, enhancement

#3188 Remove unused vertex shader globals
  src/graphics/program-lib/chunks/base.vert
  src/graphics/program-lib/programs/standard.js
Labels: area: graphics, enhancement

#3172 Half angle fresnel
  src/graphics/program-lib/chunks/combineClearCoat.frag
  src/graphics/program-lib/chunks/combineDiffuseSpecular.frag
  src/graphics/program-lib/chunks/combineDiffuseSpecularNoConserve.frag
  src/graphics/program-lib/chunks/combineDiffuseSpecularNoRefl.frag
  src/graphics/program-lib/chunks/combineDiffuseSpecularNoReflSeparateAmbient.frag
  src/graphics/program-lib/chunks/combineDiffuseSpecularOld.frag
  src/graphics/program-lib/chunks/fresnelSchlick.frag
  src/graphics/program-lib/chunks/lightSpecularAnisoGGX.frag
  src/graphics/program-lib/chunks/lightSpecularBlinn.frag
  src/graphics/program-lib/chunks/lightSpecularPhong.frag
  src/graphics/program-lib/chunks/ltc.frag
  src/graphics/program-lib/programs/standard.js
Labels: area: graphics, bug

#3190 Fix Area Lights and Half angle fresnel changes
  src/graphics/program-lib/chunks/ltc.frag
  src/graphics/program-lib/programs/standard.js
Labels: area: graphics, bug

#3192 fix opacityFadesSpecular = false
  src/graphics/program-lib/programs/standard.js
Labels: area: graphics, bug
