Repository playcanvas/engine, pull requests merged in 2022-11, with the labels that each got.

#4800 [Fix] Fix the bounding sphere calculation for spot lights
  src/scene/light.js
Labels: bug, area: graphics

#4799 [Fix] Clustered lighting correctly supports light layers
  src/scene/lighting/world-clusters.js
  src/scene/renderer/forward-renderer.js
Labels: bug, area: graphics

#4808 Tracing console calls can print out the stack
  src/core/debug.js
  src/core/tracing.js
Labels: enhancement

#4809 Improve error message when framebuffer validation fails
  scripts/posteffects/posteffect-bloom.js
  src/platform/graphics/webgl/webgl-render-target.js
Labels: area: graphics

#4810 [Fix] Fix issue with baking clustered lights
  src/framework/lightmapper/bake-light.js
Labels: bug, area: graphics

#4801 Update to Rollup 3
  package-lock.json
  package.json
  rollup.config.mjs
Labels: enhancement

#4811 Ensure READMEs use https for links
  README-ja.md
  README-kr.md
  README-zh.md
  README.md
Labels: bug, docs

#4814 Add grab pass toggles as component attribute
  src/framework/components/camera/component.js
  src/framework/components/camera/system.js
Labels: enhancement, area: graphics

#4822 Fix appearance of asset-viewer example
  examples/src/examples/graphics/asset-viewer.tsx
Labels: area: graphics

#4823 Minor improvements to asset viewer example
  examples/src/examples/graphics/asset-viewer.tsx
Labels: area: examples

#4824 Make 5x5 shadows a little more consistent
  src/scene/shader-lib/chunks/lit/frag/shadowStandardGL2.js
Labels: bug, area: graphics

#4827 Make `AppBase#_batcher` member private
  src/framework/app-base.js
Labels: bug, docs

#4831 Shorten some pixel format enums
  examples/src/examples/graphics/box-reflection.tsx
  examples/src/examples/graphics/model-outline.tsx
  examples/src/examples/graphics/painter.tsx
  examples/src/examples/graphics/render-cubemap.tsx
  examples/src/examples/graphics/render-to-texture.tsx
  examples/src/examples/graphics/transform-feedback.tsx
  examples/src/examples/graphics/video-texture.tsx
  examples/src/examples/misc/mini-stats.tsx
  examples/webgpu-temp/four.html
  examples/webgpu-temp/one.html
  examples/webgpu-temp/three.html
  examples/webgpu-temp/two.html
  scripts/posteffects/posteffect-bloom.js
  scripts/posteffects/posteffect-ssao.js
  scripts/utils/cubemap-renderer.js
  src/deprecated/deprecated.js
  src/framework/components/camera/post-effect-queue.js
  src/framework/components/element/system.js
  src/framework/components/sprite/system.js
  src/framework/font/canvas-font.js
  src/framework/graphics/picker.js
  src/framework/graphics/scene-grab.js
  src/framework/handlers/basis.js
  src/framework/handlers/cubemap.js
  src/framework/handlers/material.js
  src/framework/handlers/texture.js
  src/framework/lightmapper/lightmapper.js
  src/framework/parsers/texture/dds.js
  src/framework/parsers/texture/hdr.js
  src/framework/parsers/texture/img.js
  src/framework/parsers/texture/ktx.js
  src/framework/xr/xr-depth-sensing.js
  src/platform/graphics/constants.js
  src/platform/graphics/render-target.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgl/webgl-texture.js
  src/platform/graphics/webgpu/webgpu-texture.js
  src/scene/graphics/env-lighting.js
  src/scene/graphics/prefilter-cubemap.js
  src/scene/lighting/lights-buffer.js
  src/scene/lighting/world-clusters.js
  src/scene/particle-system/particle-emitter.js
  src/scene/renderer/cookie-renderer.js
  src/scene/renderer/shadow-map.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: enhancement, area: graphics

#4833 Improved few error reporting messages to include more info.
  src/framework/anim/controller/anim-controller.js
  src/framework/components/anim/component.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgl/webgl-texture.js
Labels: area: graphics

#4830 New createGraphicsDevice function to handle both WebGU and WebGPU device creation
  examples/src/examples/graphics/shapes.tsx
  examples/src/lib/glslang/glslang.js
  examples/src/lib/glslang/glslang.wasm
  examples/webgpu-temp/four.html
  examples/webgpu-temp/one.html
  examples/webgpu-temp/three.html
  examples/webgpu-temp/two.html
  package-lock.json
  package.json
  src/index.js
  src/platform/graphics/constants.js
  src/platform/graphics/graphics-device-create.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
  src/platform/graphics/webgpu/webgpu-buffer.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/platform/graphics/webgpu/webgpu-texture.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer-layout.js
Labels: area: graphics

#4836 Improve JSDocs for `RigidBodyComponent`
  src/framework/components/component.js
  src/framework/components/rigid-body/component.js
Labels: enhancement, docs

#4840 Remove Application from deprecated
  src/deprecated/deprecated.js
Labels: enhancement

#4846 Add asset type textureatlas
  src/framework/asset/asset.js
  src/framework/asset/constants.js
Labels: docs, area: assets

#4842 Engine Example: PaintMesh demonstrating rendering decals into a texture
  examples/src/examples/graphics/index.mjs
  examples/src/examples/graphics/paint-mesh.tsx
Labels: area: graphics, area: examples

#4838 Expose option to set lightmap pixel format
  src/framework/components/camera/post-effect-queue.js
  src/framework/lightmapper/lightmapper.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/scene.js
  src/scene/shader-lib/chunks/lightmapper/frag/bakeLmEnd.js
Labels: area: graphics

#4851 ElementDragHelper#_toggleDragListeners: fix wrong `this` type
  src/framework/components/element/element-drag-helper.js
Labels: bug, area: ui

#4857 Fix skybox rotation
  src/scene/scene.js
Labels: bug, area: graphics

#4859 [Fix] Shadow renderer does not use nearClip of 0
  src/scene/renderer/shadow-renderer.js
Labels: bug, area: graphics

#4864 Spot lights with zero size outer cone are filtered out from clustered lights
  src/scene/lighting/world-clusters.js
Labels: bug, area: graphics

#4863 Clustered lighting uses texFetch instruction on WebGL2 to read data textures
  src/core/preprocessor.js
  src/platform/graphics/shader-chunks/frag/webgpu.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/lighting/lights-buffer.js
  src/scene/lighting/world-clusters.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLight.js
Labels: area: graphics

#4816 [Breaking] WebXr framebuffer to match render resolution scale outside of XR
  src/framework/xr/xr-manager.js
  src/platform/graphics/graphics-device.js
Labels: area: xr

#4868 Audio fix for safari desktop
  src/platform/sound/manager.js
Labels: bug, area: audio

#4870 Fix light intensities being wrong
  src/scene/shader-lib/programs/lit-shader.js
Labels: bug, area: graphics

#4869 Multiple Examples updated to work on WebGPU
  examples/assets/cubemaps/helipad-env-atlas.png
  examples/src/examples/graphics/hardware-instancing.tsx
  examples/src/examples/graphics/material-physical.tsx
  examples/src/examples/graphics/mesh-deformation.tsx
  examples/src/examples/graphics/render-asset.tsx
  src/framework/entity.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/scene.js
  src/scene/sky.js
Labels: enhancement, area: graphics

#4852 [Breaking] AnimController time in state fix
  src/framework/anim/controller/anim-controller.js
Labels: bug, area: animation

#4792 Options split
  examples/src/examples/graphics/hardware-instancing.tsx
  src/framework/lightmapper/lightmapper.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/shader-lib/program-library.js
  src/scene/shader-lib/programs/lit-shader.js
  src/scene/shader-lib/programs/standard.js
Labels: enhancement, area: graphics

#4872 GPU-instancing support on WebGPU
  examples/src/examples/graphics/hardware-instancing.tsx
  src/platform/graphics/vertex-buffer.js
  src/platform/graphics/vertex-format.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer-layout.js
  src/scene/mesh-instance.js
Labels: enhancement, area: graphics

#4876 Updates to WebGPU texture - format fix & address mode support
  examples/src/examples/graphics/clustered-lighting.tsx
  src/platform/graphics/bind-group.js
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: area: graphics

#4874 Lines example updated to use pc.createGraphicsDevice
  examples/src/examples/graphics/lines.tsx
Labels: area: graphics, area: examples

#4877 Run scenes with corrupted data
  src/framework/parsers/scene.js
Labels: bug

#4879 Improved handling of RenderTarget formats on WebGPU
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: area: graphics

#4880 Dynamic Batching example converted to use createGraphicsDevice
  examples/src/examples/graphics/batching-dynamic.tsx
Labels: area: examples

#4887 Updated ClusteredAreaLIghts to use createGraphicsDevice function
  examples/src/examples/graphics/clustered-area-lights.tsx
  examples/src/examples/graphics/clustered-lighting.tsx
  src/framework/handlers/loader.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/area-light-luts.js
Labels: area: examples

#4886 Split generic parts of ForwardRenderer into a Renderer class
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics

#4888 Converted MultiView example to use createGraphicsDevice
  examples/src/examples/graphics/multi-view.tsx
Labels: area: examples

#4890 Convert Glb engine example to use createGraphicsDevice
  examples/src/examples/graphics/mesh-deformation.tsx
  examples/src/examples/loaders/glb.tsx
Labels: area: examples

#4895 GroundFog and GrabPass engine examples updated to use createGraphicsDevice
  examples/src/examples/graphics/grab-pass.tsx
  examples/src/examples/graphics/ground-fog.tsx
Labels: area: examples

#4896 GrabPass functionality changes to support WebGPU and improve WebGL support
  src/framework/graphics/scene-grab.js
  src/platform/graphics/constants.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgl/webgl-texture.js
  src/platform/graphics/webgpu/webgpu-clear-renderer.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: area: graphics

#4897 Modified AssetViewer example to use pc.createGraphicsDevice
  examples/src/examples/graphics/asset-viewer.tsx
Labels: area: examples

#4898 Fix sheen glossiness being consistent throughout the engine
  src/scene/materials/standard-material.js
  src/scene/shader-lib/chunks/standard/frag/sheenGloss.js
Labels: bug, area: graphics

#4899 Various small improvements and validations to WebGPU rendering
  src/platform/graphics/constants.js
  src/platform/graphics/shader-processor.js
  src/platform/graphics/vertex-format.js
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/platform/graphics/webgpu/webgpu-shader.js
  src/scene/shader-lib/chunks/lit/frag/refractionDynamic.js
Labels: area: graphics
