Repository playcanvas/engine, pull requests merged in 2022-07, with the labels that each got.

#4390 Shader compilation error: fix the 'shadow' redefinition
  src/graphics/program-lib/programs/lit-shader.js
Labels: bug, area: graphics

#4396 Copy unlit material texture rotation
  src/resources/parser/glb-parser.js
Labels: bug, area: gltf

#4401 Remove the AssetListLoader class from the deprecated file
  src/deprecated/deprecated.js
Labels: area: assets

#4403 Handle scenes with skybox
  src/scene/materials/standard-material-options-builder.js
  src/scene/materials/standard-material.js
Labels: bug, area: graphics

#4402 ShaderProcessor partially updating shader source to support uniform buffers
  src/graphics/bind-group-format.js
  src/graphics/constants.js
  src/graphics/graphics-device.js
  src/graphics/program-library.js
  src/graphics/shader-processor-options.js
  src/graphics/shader-processor.js
  src/graphics/shader.js
  src/graphics/uniform-buffer-format.js
  src/graphics/uniform-buffer.js
  src/graphics/webgl/webgl-shader.js
  src/scene/batching/batch-manager.js
  src/scene/materials/basic-material.js
  src/scene/materials/material.js
  src/scene/materials/standard-material.js
  src/scene/mesh-instance.js
  src/scene/particle-system/particle-emitter.js
  src/scene/renderer/forward-renderer.js
  src/scene/sky.js
Labels: enhancement, area: graphics

#4406 Deprecate material.updateShader instead of removing it.
  src/deprecated/deprecated.js
  src/scene/materials/basic-material.js
Labels: bug, area: graphics

#4248 Fixed asset.ready() for prefiltered cubemaps
  src/asset/asset.js
Labels: release: next minor

#4409 Refactor of glTF extension handling
  src/resources/parser/glb-parser.js
Labels: area: graphics

#4408 BasicMaterial shader name for Spector
  src/core/tracing.js
  src/graphics/program-lib/programs/basic.js
Labels: area: graphics

#4405 Encoding cleanup
  src/graphics/program-lib/chunk-utils.js
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/common/frag/decode.js
  src/graphics/program-lib/chunks/common/frag/encode.js
  src/graphics/program-lib/chunks/common/frag/envAtlas.js
  src/graphics/program-lib/chunks/common/frag/reproject.js
  src/graphics/program-lib/chunks/common/frag/rgbm.js
  src/graphics/program-lib/chunks/common/frag/spherical.js
  src/graphics/program-lib/chunks/lit/frag/reflectionEnv.js
  src/graphics/program-lib/chunks/skybox/frag/skyboxHDR.js
  src/graphics/program-lib/chunks/standard/frag/emissive.js
  src/graphics/program-lib/chunks/standard/frag/lightmapDir.js
  src/graphics/program-lib/chunks/standard/frag/lightmapSingle.js
  src/graphics/program-lib/programs/lit-shader.js
  src/graphics/program-lib/programs/skybox.js
  src/graphics/program-lib/programs/standard.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/materials/standard-material.js
  src/scene/sky.js
Labels: enhancement, area: graphics

#4411 [Fix] Fixing null access in the bloom post effect
  scripts/posteffects/posteffect-bloom.js
Labels: bug, area: graphics

#4412 Postprocessing engine example now uses the chess board
  examples/src/examples/graphics/post-effects.tsx
Labels: area: examples

#4410 Shader processor improvements related to bind groups format
  src/graphics/bind-group-format.js
  src/graphics/constants.js
  src/graphics/shader-processor-options.js
  src/graphics/shader-processor.js
  src/graphics/uniform-buffer-format.js
Labels: area: graphics, release: next minor

#4415 Some JSDoc fixes for src/graphics and src/script
  src/graphics/env-lighting.js
  src/graphics/texture.js
  src/graphics/webgl/webgl-graphics-device.js
  src/script/script-type.js
Labels: bug, docs

#4143 Use `this.constructor`, fix JSDoc types, add unit tests for clone
  src/framework/entity.js
  src/math/color.js
  src/math/curve-set.js
  src/math/curve.js
  src/math/mat3.js
  src/math/mat4.js
  src/math/quat.js
  src/math/vec2.js
  src/math/vec3.js
  src/math/vec4.js
  src/scene/graph-node.js
  test/framework/entity.test.mjs
  test/math/color.test.mjs
  test/math/curve-set.test.mjs
  test/math/curve.test.mjs
  test/math/mat4.test.mjs
  test/math/quat.test.mjs
  test/math/vec2.test.mjs
  test/math/vec3.test.mjs
  test/math/vec4.test.mjs
  test/scene/graph-node.test.mjs
Labels: enhancement

#4421 Don’t log version/revision message if those are not valid
  src/framework/app-base.js
Labels: enhancement

#4422 [Fix] Fix to script preloading
  src/framework/app-base.js
Labels: bug

#4424 Add helper for getting shader pass type
  src/graphics/program-lib/programs/lit-shader.js
  src/graphics/program-lib/programs/standard.js
  src/scene/constants.js
  src/scene/shader-pass.js
Labels: bug, enhancement, area: graphics

#4425 Respect standard material options.gamma
  src/graphics/program-lib/programs/standard.js
Labels: bug, area: graphics

#4431 Reintroduce support for chunk $texture2DSAMPLE
  src/graphics/program-lib/chunk-builder.js
  src/graphics/program-lib/chunk-utils.js
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/common/frag/decode.js
  src/graphics/program-lib/chunks/common/frag/encode.js
  src/graphics/program-lib/chunks/common/frag/gamma1_0.js
  src/graphics/program-lib/chunks/common/frag/gamma2_2.js
  src/graphics/program-lib/chunks/lit/frag/lightmapDirAdd.js
  src/graphics/program-lib/chunks/lit/frag/textureSample.js
  src/graphics/program-lib/chunks/particle/frag/particle.js
  src/graphics/program-lib/chunks/standard/frag/lightmapDir.js
  src/graphics/program-lib/chunks/standard/frag/specular.js
  src/graphics/program-lib/programs/lit-shader.js
  src/graphics/program-lib/programs/particle.js
  src/graphics/program-lib/programs/skybox.js
  src/graphics/program-lib/programs/standard.js
Labels: enhancement, area: graphics

#4429 Support for KHR_materials_ior
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/lit/frag/metalnessModulate.js
  src/graphics/program-lib/chunks/lit/frag/refraction.js
  src/graphics/program-lib/chunks/standard/frag/ior.js
  src/graphics/program-lib/chunks/standard/frag/metalness.js
  src/graphics/program-lib/programs/lit-shader.js
  src/graphics/program-lib/programs/standard.js
  src/resources/parser/glb-parser.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/materials/standard-material.js
Labels: enhancement, area: graphics

#4440 Handle shader-decoded texture alpha correctly
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/common/frag/decode.js
  src/graphics/program-lib/chunks/standard/frag/textureSample.js
  src/graphics/program-lib/programs/standard.js
Labels: bug, area: graphics

#4437 Adds support for refraction as a texture and KHR_materials_transmission
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/lit/frag/refraction.js
  src/graphics/program-lib/chunks/standard/frag/transmission.js
  src/graphics/program-lib/programs/standard.js
  src/resources/parser/glb-parser.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/materials/standard-material.js
Labels: enhancement, area: graphics

#4436 Only degamma specular if we use a metalness specular color map
  src/graphics/program-lib/chunks/standard/frag/specular.js
  src/graphics/program-lib/programs/standard.js
Labels: bug, area: graphics

#4445 All prefiltered env maps are rgbm
  src/resources/cubemap.js
Labels: bug, area: graphics

#4446 [Fix] Fix the way composition tests for dirty camera
  src/scene/composition/layer-composition.js
Labels: bug, area: graphics

#4448 Correct encodeGamma return type
  src/graphics/program-lib/chunks/common/frag/encode.js
Labels: bug, area: graphics

#4451 [Fix] Updated shaders to be Webgl1 compatible
  src/graphics/program-lib/chunks/lit/frag/clusteredLight.js
  src/graphics/program-lib/chunks/lit/frag/fresnelSchlick.js
  src/graphics/program-lib/programs/lit-shader.js
Labels: bug, area: graphics

#4452 Cache wasm support test correctly
  src/core/wasm-module.js
Labels: bug

#4453 Revert change to env loading
  src/resources/cubemap.js
Labels: bug, area: graphics

#4454 [Fix] Fix to deprecated function when the material does not have a scene set
  src/deprecated/deprecated.js
Labels: bug, area: graphics

#4414 Support RGBP encoding
  src/graphics/constants.js
  src/graphics/env-lighting.js
  src/graphics/program-lib/chunk-utils.js
  src/graphics/program-lib/chunks/common/frag/decode.js
  src/graphics/program-lib/chunks/common/frag/encode.js
  src/graphics/reproject-texture.js
  src/graphics/texture.js
  src/resources/texture.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/materials/standard-material.js
Labels: enhancement, area: graphics

#4461 Merge the combine chunks
  src/graphics/program-lib/chunks/chunks.js
  src/graphics/program-lib/chunks/lit/frag/clusteredLight.js
  src/graphics/program-lib/chunks/lit/frag/combine.js
  src/graphics/program-lib/chunks/lit/frag/combineClearCoat.js
  src/graphics/program-lib/chunks/lit/frag/combineDiffuse.js
  src/graphics/program-lib/chunks/lit/frag/combineDiffuseSpecular.js
  src/graphics/program-lib/chunks/lit/frag/combineDiffuseSpecularNoRefl.js
  src/graphics/program-lib/chunks/lit/frag/combineDiffuseSpecularNoReflSeparateAmbient.js
  src/graphics/program-lib/chunks/lit/frag/combineDiffuseSpecularOld.js
  src/graphics/program-lib/chunks/lit/frag/end.js
  src/graphics/program-lib/chunks/lit/frag/lightSpecularAnisoGGX.js
  src/graphics/program-lib/chunks/lit/frag/lightSpecularBlinn.js
  src/graphics/program-lib/chunks/lit/frag/lightSpecularPhong.js
  src/graphics/program-lib/chunks/lit/frag/lightmapDirAdd.js
  src/graphics/program-lib/chunks/lit/frag/ltc.js
  src/graphics/program-lib/chunks/lit/frag/reflectionCC.js
  src/graphics/program-lib/chunks/lit/frag/start.js
  src/graphics/program-lib/programs/lit-shader.js
Labels: enhancement, area: graphics

#4476 Support extension declarations in shader preprocessor
  src/core/preprocessor.js
Labels: bug, area: graphics

#4488 Reproject fix
  src/graphics/program-lib/chunks/common/frag/reproject.js
Labels: enhancement, area: graphics
