Repository playcanvas/engine, pull requests merged in 2022-12, with the labels that each got.

#4905 Bump GLB parser chunks to 1.58.
  src/framework/parsers/glb-parser.js
Labels: bug, area: graphics

#4906 Partial Depth-GrabPass support for WebGPU
  examples/src/examples/graphics/ground-fog.tsx
  src/platform/graphics/shader-chunks/frag/shared.js
  src/platform/graphics/shader-utils.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/platform/graphics/webgpu/webgpu-texture.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer-layout.js
  src/scene/shader-lib/chunks/lit/frag/refractionDynamic.js
Labels: area: graphics

#4908 Converted RenderCubemap and RenderToTexture examples to use createGraphicsDevice
  examples/src/examples/graphics/render-cubemap.tsx
  examples/src/examples/graphics/render-to-texture.tsx
Labels: area: examples

#4911 Partial cubemap support for WebGPU
  scripts/utils/cubemap-renderer.js
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/shader-chunks/frag/webgpu.js
  src/platform/graphics/shader-utils.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/platform/graphics/webgpu/webgpu-shader.js
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: feature request, area: graphics

#4915 Split ShadowRenderer into class for local and clsas for directional lights
  src/framework/lightmapper/lightmapper.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-map-cache.js
  src/scene/renderer/shadow-renderer-directional.js
  src/scene/renderer/shadow-renderer-local.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics

#4913 Fix: getActiveStateProgressForTime
  src/framework/anim/controller/anim-controller.js
  src/framework/anim/evaluator/anim-clip.js
Labels: bug, area: animation

#4900 LitOptions class to hold backend options
  src/deprecated/deprecated.js
  src/index.js
  src/scene/materials/lit-options.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/materials/standard-material-options.js
  src/scene/materials/standard-material.js
  src/scene/shader-lib/program-library.js
  src/scene/shader-lib/programs/lit-shader.js
  src/scene/shader-lib/programs/standard.js
Labels: area: graphics

#4917 Directional shadows are rendered using RenderPass setup
  src/framework/lightmapper/lightmapper.js
  src/platform/graphics/render-pass.js
  src/scene/frame-graph.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer-directional.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics

#4919 Rendering to texture example: small fix to render particles
  examples/src/examples/graphics/render-to-texture.tsx
Labels: area: examples

#4921 Improved shadow cascades rendering, allowing per cascade update
  examples/src/examples/graphics/shadow-cascades.tsx
  src/framework/components/light/component.js
  src/scene/light.js
  src/scene/renderer/shadow-renderer-directional.js
  src/scene/renderer/shadow-renderer.js
Labels: feature request, area: graphics

#4924 WebGPU support for rendering to shadow map for Directional lights
  src/framework/lightmapper/lightmapper.js
  src/platform/graphics/shader.js
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
  src/scene/light.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer-directional.js
  src/scene/renderer/shadow-renderer-local.js
  src/scene/renderer/shadow-renderer.js
Labels: feature request, area: graphics

#4927 Fix postprocessing. Optimization.
  src/scene/composition/layer-composition.js
Labels: bug, area: graphics

#4932 Small update to PCF5 sampling chunk to be compatible with WebGPU
  src/scene/shader-lib/chunks/lit/frag/shadowStandardGL2.js
Labels: area: graphics

#4933 Updated few engine examples to use createGraphicsDevice function
  examples/src/examples/graphics/hardware-instancing.tsx
  examples/src/examples/graphics/light-physical-units.tsx
  examples/src/examples/graphics/lights.tsx
  examples/src/examples/loaders/draco-glb.tsx
  examples/src/examples/physics/vehicle.tsx
Labels: area: examples

#4936 Uniform buffer supports arrays
  examples/src/examples/graphics/grab-pass.tsx
  src/deprecated/deprecated.js
  src/platform/graphics/shader-processor.js
  src/platform/graphics/uniform-buffer-format.js
  src/platform/graphics/uniform-buffer.js
  src/platform/graphics/webgl/webgl-shader-input.js
  src/platform/graphics/webgl/webgl-shader.js
  src/scene/renderer/forward-renderer.js
Labels: area: graphics

#4941 SpineBoy example updated to use createGraphicsDevice
  examples/src/examples/misc/spineboy.tsx
Labels: area: examples

#4942 Clustered-spot-shadows example converted to use createGraphicsDevice
  examples/src/examples/graphics/clustered-spot-shadows.tsx
Labels: area: examples

#4943 Improve performance of some path's methods
  src/core/path.js
Labels: performance

#4937 Fix regression of world space drag bug #3748
  src/framework/components/element/element-drag-helper.js
Labels: bug

#4948 Update TypeScript to 4.9.4
  extras/exporters/core-exporter.js
  package-lock.json
  package.json
Labels: dependencies
