Repository playcanvas/engine, pull requests merged in 2023-10, with the labels that each got.

#5705 Better handling of gltf blend materials
  src/framework/parsers/glb-parser.js
Labels: area: graphics

#5695 feat(build): clean build folder before rebuilding all targets
  rollup.config.mjs
  utils/rollup-import-validation.mjs
  utils/rollup-spaces-to-tabs.mjs
Labels: feature request

#5710 Don't create WebglShaderInput if there is no attribute
  src/platform/graphics/webgl/webgl-shader.js
Labels: bug, area: graphics

#5712 Handle vertex formats in GLB files that are not supported on WebGPU
  examples/src/examples/graphics/asset-viewer.tsx
  src/framework/parsers/glb-parser.js
  src/platform/graphics/vertex-format.js
Labels: bug, area: graphics

#5702 New API: add a scaled vector
  src/core/math/vec2.js
  src/core/math/vec3.js
  src/core/math/vec4.js
  test/core/math/vec2.test.mjs
  test/core/math/vec3.test.mjs
  test/core/math/vec4.test.mjs
Labels: feature request

#5694 fix array cloning
  src/scene/mesh.js
Labels: bug, area: graphics

#5715 WebGPU texture anisotropy validation fix
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: bug, area: graphics

#5718 Ministats render size
  extras/mini-stats/render2d.js
Labels: bug, area: graphics

#5719 WebGPU support for alpha backbuffer to allow composition
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: bug, area: graphics

#5726 [Fix] World space aabb gets updated when local space aabb of mesh changes
  src/scene/mesh-instance.js
  src/scene/mesh.js
Labels: bug, area: graphics

#5728 [Fix] Don’t delete the framebuffer owned by the context
  src/platform/graphics/webgl/webgl-render-target.js
Labels: bug, area: graphics

#5731 [Fix] WebGPU can give us async mapped buffer after the device was destroyed, handle it
  src/platform/graphics/webgpu/webgpu-dynamic-buffers.js
Labels: bug, area: graphics

#5721 Gracefully handle failing device creation
  src/platform/graphics/graphics-device-create.js
Labels: area: graphics

#5733 Small cleanup of the way requested animation frames are handled
  src/framework/app-base.js
Labels: bug

#5734 Implementation of standalone render pass module that renders render-actions
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/render-pass-render-actions.js
Labels: feature request, area: graphics

#5737 Workaround for webpack not building
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: bug, area: graphics

#5738 Refactoring to LayerComposition internal implementation
  src/deprecated/deprecated.js
  src/framework/components/camera/component.js
  src/scene/composition/layer-composition.js
  src/scene/composition/render-action.js
  src/scene/layer.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/render-pass-render-actions.js
  src/scene/renderer/renderer.js
Labels: area: graphics

#5744 [Fix] Make sure texture units are initialized
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: bug, area: graphics

#5747 Set model matrix when instancing
  src/scene/renderer/renderer.js
Labels: bug, area: graphics

#5758 Buffer update speedup
  src/platform/graphics/webgl/webgl-buffer.js
Labels: area: graphics

#5757 Initial framework for compute shaders on WebGPU
  src/core/constants.js
  src/core/tracing.js
  src/index.js
  src/platform/graphics/compute.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/render-pass.js
  src/platform/graphics/shader.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-compute-pipeline.js
  src/platform/graphics/webgpu/webgpu-compute.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-shader.js
Labels: feature request, area: graphics

#5759 Use subimage versions during texture update
  src/platform/graphics/webgl/webgl-texture.js
Labels: area: graphics

#5763 [Fix] Fixed calling CameraComponent.onPostRender
  scripts/utils/cubemap-renderer.js
  src/scene/renderer/render-pass-render-actions.js
Labels: bug, area: graphics

#5760 Support for storage textures on WebGPU platform
  src/index.js
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/bind-group.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgpu/constants.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
  src/platform/graphics/webgpu/webgpu-compute-pipeline.js
  src/platform/graphics/webgpu/webgpu-compute.js
  src/platform/graphics/webgpu/webgpu-pipeline.js
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: feature request, area: graphics

#5767 drawLines jsdoc fix
  src/framework/app-base.js
Labels: bug, area: graphics
