Repository playcanvas/engine, pull requests merged in 2023-09, with the labels that each got.

#5611 Added function: RenderTarget.resize
  src/platform/graphics/graphics-device.js
  src/platform/graphics/render-target.js
  src/platform/graphics/texture.js
Labels: feature request, area: graphics

#5612 Remove private Texture.getDds function that is no longer needed
  src/platform/graphics/texture.js
Labels: area: graphics

#5613 rollup-shader-chunks.mjs: simplify + fix template string bug
  utils/rollup-shader-chunks.mjs
Labels: bug

#5607 Add setAttribute to standard material
  src/scene/materials/standard-material-options-builder.js
  src/scene/materials/standard-material.js
  src/scene/shader-lib/programs/lit-shader-options.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: feature request, area: graphics

#5616 Refactor rendering in MiniStats
  examples/src/examples/graphics/ground-fog.tsx
  extras/mini-stats/graph.js
  extras/mini-stats/mini-stats.js
  extras/mini-stats/render2d.js
  extras/mini-stats/word-atlas.js
Labels: area: graphics

#5625 Added width and height to sprite component clone
  src/framework/components/sprite/system.js
Labels: bug, area: sprites

#5623 Easy ES5 ES6 Distinguishability via file extension only
  rollup.config.mjs
  src/index.js
  src/index.mjs
Labels: feature request

#5629 Fix to mesh instance culling not honoring its cull flag
  src/scene/renderer/renderer.js
Labels: bug, area: graphics

#5628 Refactor the internals of antialiasing / backbuffer on WebGL device
  src/framework/xr/xr-manager.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/render-pass.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgl/webgl-render-target.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/frame-graph.js
  src/scene/graphics/scene-grab.js
Labels: feature request, area: graphics

#5630 Renaming of internal variable to backBufferFormat
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgl/webgl-render-target.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/graphics/scene-grab.js
Labels: area: graphics

#5631 MiniStats render on UI layer
  examples/src/examples/graphics/model-outline.tsx
  examples/src/examples/graphics/mrt.tsx
  examples/src/examples/graphics/portal.tsx
  examples/src/examples/graphics/reflection-box.tsx
  examples/src/examples/graphics/reflection-cubemap.tsx
  examples/src/examples/graphics/reflection-planar.tsx
  examples/src/examples/graphics/render-to-texture.tsx
  extras/mini-stats/mini-stats.js
  extras/mini-stats/render2d.js
Labels: area: examples

#5627 Material prefiltered cubemap fix
  src/framework/handlers/cubemap.js
  src/framework/handlers/material.js
Labels: bug, area: graphics

#5622 Vec2.rotate(degrees), Vec2.angle, Vec2.angleTo methods
  src/core/math/vec2.js
Labels: feature request

#5642 Fix the order of layers in ReflectionPlanar example to render MiniStats last
  examples/src/examples/graphics/reflection-planar.tsx
Labels: bug, area: examples

#5643 Fix to restoring lost context on WebGL related to very recent backbuffer refactoring
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: bug, area: graphics

#5644 When the context is lost, silently ignore failed shader compilation
  src/platform/graphics/webgl/webgl-shader.js
Labels: bug, area: graphics

#5647 [FIX] JSDoc for AnimEvaluator#update
  src/framework/anim/evaluator/anim-evaluator.js
Labels: bug, docs

#5648 DOCS: Add missing TONEMAP_ACES2 to JSDocs
  src/scene/scene.js
Labels: bug, docs

#5649 Fix to render target logging for render passes
  src/platform/graphics/render-pass.js
Labels: bug, area: graphics

#5653 Extracted generic render pass for a cookie renderer and picker to a new modules
  src/framework/graphics/picker.js
  src/framework/graphics/render-pass-picker.js
  src/scene/renderer/cookie-renderer.js
  src/scene/renderer/render-pass-cookie-renderer.js
Labels: area: graphics

#5654 Adding glsl tags to internal shaders for syntax highlighting to work
  src/scene/immediate/immediate.js
  src/scene/morph-instance.js
  src/scene/renderer/render-pass-cookie-renderer.js
Labels: area: graphics

#5651 Fix resizing of render targets in the PostEffectQueue class
  src/framework/components/camera/post-effect-queue.js
Labels: bug, area: graphics

#5655 Extract the color grab functionality to a render pass
  src/framework/components/camera/component.js
  src/platform/graphics/render-pass.js
  src/scene/camera.js
  src/scene/frame-graph.js
  src/scene/graphics/render-pass-color-grab.js
  src/scene/graphics/scene-grab.js
  src/scene/renderer/forward-renderer.js
Labels: area: graphics

#5656 Small internal refactor of the way camera is passed around for rendering
  src/scene/composition/layer-composition.js
  src/scene/composition/render-action.js
  src/scene/layer.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
Labels: area: graphics

#5657 Handle ios 17 basis wasm regression
  src/framework/handlers/basis-worker.js
Labels: bug

#5658 Removed CookieRenderer by making it fully integrated into cookie render pass
  src/platform/graphics/render-pass.js
  src/platform/graphics/render-target.js
  src/scene/lighting/light-texture-atlas.js
  src/scene/renderer/cookie-renderer.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/render-pass-cookie-renderer.js
  src/scene/renderer/renderer.js
Labels: area: graphics

#5661 Enable WebGPU support for TextureBasis engine example
  examples/src/examples/graphics/texture-basis.tsx
Labels: area: examples

#5666 Internal variable renamed for consistency with next updates
  src/framework/components/camera/component.js
  src/scene/camera.js
  src/scene/renderer/forward-renderer.js
Labels: area: graphics

#5670 [Fix] Calling CameraComponent.onRemove when the entity with camera is destroyed
  src/framework/components/camera/system.js
Labels: bug, area: graphics

#5671 Fallback Webgl1 solution for depth grab is replaced by a RenderPassDepth
  src/framework/components/camera/component.js
  src/framework/graphics/render-pass-picker.js
  src/framework/lightmapper/lightmapper.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/scene/camera.js
  src/scene/graphics/render-pass-depth.js
  src/scene/graphics/scene-grab.js
  src/scene/layer.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
Labels: area: graphics

#5667 Handle null gl.getContextAttributes() when context is lost
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: bug, area: graphics

#5673 Convert depth grabbing functionality on WebGL2/WebGPU to a render pass
  src/framework/app-base.js
  src/scene/camera.js
  src/scene/graphics/render-pass-depth-grab.js
  src/scene/graphics/scene-grab.js
  src/scene/renderer/forward-renderer.js
Labels: area: graphics

#5676 Latest ammo module
  examples/src/lib/ammo/ammo.js
  examples/src/lib/ammo/ammo.wasm.js
  examples/src/lib/ammo/ammo.wasm.wasm
Labels: area: physics

#5677 Fix the number of samples detection code for WebGL1
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: bug, area: graphics

#5678 Deprecate device.webgl2 in favor of device.isWebGL2
  examples/src/examples/graphics/transform-feedback.tsx
  scripts/posteffects/posteffect-ssao.js
  src/deprecated/deprecated.js
  src/framework/handlers/basis.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/shader-utils.js
  src/platform/graphics/shader.js
  src/platform/graphics/transform-feedback.js
  src/platform/graphics/webgl/webgl-buffer.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgl/webgl-render-target.js
  src/platform/graphics/webgl/webgl-shader.js
  src/platform/graphics/webgl/webgl-texture.js
  src/scene/camera.js
  src/scene/graphics/render-pass-color-grab.js
  src/scene/graphics/render-pass-depth-grab.js
  src/scene/light.js
  src/scene/lighting/light-texture-atlas.js
  src/scene/lighting/lights-buffer.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/shadow-map.js
  src/scene/renderer/shadow-renderer.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: area: graphics

#5679 Small cleanup to the way antialiasing set up is handled
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: area: graphics

#5683 Validate and enforce valid texture dimensions
  src/platform/graphics/texture.js
Labels: area: graphics
