Repository playcanvas/engine, pull requests merged in 2023-11, with the labels that each got.

#5772 Support for FLOAT16 (half) vertex attribute format on WebGL2 and WebGPU
  src/core/math/float-packing.js
  src/index.js
  src/platform/graphics/constants.js
  src/platform/graphics/shader-processor.js
  src/platform/graphics/vertex-format.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer-layout.js
Labels: feature request, area: graphics

#5783 [Fix] Fix the Picker to not depend on culled mesh instances as those can be out of date
  src/framework/graphics/render-pass-picker.js
Labels: bug, area: graphics

#5784 [Fix] When the default framebuffer is updated, refresh info about its format
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: bug, area: graphics, area: xr

#5792 [Fix] When clustered shadows are disabled, Lightmapper does not render their shadows
  src/framework/lightmapper/lightmapper.js
Labels: bug, area: graphics

#5794 Improved warning message when grab textures are used but not generated
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: docs

#5796 [Fix] Webgpu sets up render pipeline format for multi-sampled buffer
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
  src/platform/graphics/webgpu/webgpu-render-target.js
Labels: bug, area: graphics

#5800 [Fix] Fix issue with local lights using ‘static’ flag
  src/scene/materials/lit-material-options-builder.js
Labels: bug, area: graphics

#5799 Fix collision initialization for container assets.
  src/framework/components/collision/system.js
Labels: bug, area: physics

#5804 Fix to splats frustum culling
  extras/splat/splat-container-resource.js
  extras/splat/splat-instance.js
  src/scene/mesh-instance.js
Labels: bug, area: graphics

#5803 Fixes RigidBody remove component
  src/framework/components/rigid-body/component.js
  src/framework/components/rigid-body/system.js
Labels: bug, area: physics

#5805 Colorized particle texture used by the example to make its functionality more obvious
  examples/assets/textures/particles-numbers.png
Labels: area: examples

#5779 WebXR Persistent Anchors
  examples/src/examples/xr/ar-anchors-persistence.mjs
  examples/src/examples/xr/ar-hit-test-anchors.mjs
  examples/src/examples/xr/index.mjs
  src/framework/xr/xr-anchor.js
  src/framework/xr/xr-anchors.js
  src/framework/xr/xr-hit-test-source.js
  src/framework/xr/xr-manager.js
Labels: feature request, area: xr

#5802 Build webgpu module full from relative path
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: area: graphics

#5808 Splat updates
  extras/index.js
  extras/package.json
  extras/splat/splat-instance.js
  extras/splat/splat-material.js
  extras/splat/splat-sorter.js
Labels: area: graphics

#5810 Allow asset to specify which ply elements to load
  extras/index.js
  extras/splat/ply-parser.js
Labels: area: graphics

#5813 Expose filter function instead of string list
  extras/splat/ply-parser.js
  extras/splat/ply-reader.js
Labels: area: graphics

#5814 [Fix] Fixes to picker to properly set up camera
  src/framework/graphics/picker.js
  src/framework/graphics/render-pass-picker.js
  src/platform/graphics/webgl/webgl-render-target.js
  src/scene/renderer/render-pass-render-actions.js
Labels: bug, area: graphics

#5815 When 0 size render target is used, print a warning
  src/platform/graphics/webgl/webgl-render-target.js
Labels: area: graphics

#5816 Support for Integer vertex attributes on WebGL2
  extras/splat/splat-instance.js
  extras/splat/splat-material.js
  extras/splat/splat.js
  src/platform/graphics/shader-processor.js
  src/platform/graphics/vertex-format.js
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: feature request, area: graphics

#5824 WebGPU support for rendering to RG11B10 format
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgl/webgl-texture.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: feature request, area: graphics

#5826 [Fix] Fix texture / render target resize on WebGL2
  src/platform/graphics/webgl/webgl-texture.js
Labels: bug, area: graphics

#5827 Small update to render target resizing and texture utils
  src/framework/handlers/texture.js
  src/platform/graphics/render-target.js
  src/platform/graphics/texture-utils.js
  src/platform/graphics/texture.js
Labels: area: graphics

#5828 [Fix] Webgl render pass sets up viewport even if not clearing the render target
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: bug, area: graphics

#5830 New GraphicsDevice.getRenderableHdrFormat function
  src/framework/components/camera/post-effect-queue.js
  src/platform/graphics/blend-state.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/texture-utils.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-texture.js
  src/scene/scene.js
Labels: feature request, area: graphics

#5831 Support loading compressed ply format
  extras/splat/splat-container-resource.js
  extras/splat/splat-data.js
Labels: area: graphics

#5834 Fix splat culling test
  extras/splat/splat-material.js
Labels: bug, area: graphics

#5833 HDR physically based bloom + render pass examples
  examples/src/examples/graphics/index.mjs
  examples/src/examples/graphics/post-processing.mjs
  examples/src/examples/graphics/render-pass.mjs
  extras/index.js
  extras/render-passes/render-pass-bloom.js
  extras/render-passes/render-pass-compose.js
  extras/render-passes/render-pass-downsample.js
  extras/render-passes/render-pass-upsample.js
  src/framework/components/camera/component.js
  src/index.js
  src/platform/graphics/render-pass.js
  src/platform/graphics/texture.js
  src/scene/camera.js
  src/scene/frame-graph.js
  src/scene/graphics/render-pass-shader-quad.js
  src/scene/renderer/render-pass-render-actions.js
Labels: feature request, area: graphics

#5754 WebGL Texture2d array
  examples/assets/textures/aerial_rocks_02_diff_1k.jpg
  examples/assets/textures/coast_sand_rocks_02_diff_1k.jpg
  examples/assets/textures/rock_boulder_cracked_diff_1k.jpg
  examples/assets/textures/rocky_trail_diff_1k.jpg
  examples/src/examples/graphics/index.mjs
  examples/src/examples/graphics/texture-array.mjs
  src/platform/graphics/constants.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgl/webgl-shader.js
  src/platform/graphics/webgl/webgl-texture.js
Labels: feature request, area: graphics

#5835 Splat vshader fixes for webgl1
  extras/splat/splat-material.js
Labels: bug, area: graphics

#5836 Fix for video textures
  src/platform/graphics/webgl/webgl-texture.js
Labels: bug, area: graphics

#5840 Add additional texSubImage2d checks
  src/platform/graphics/webgl/webgl-texture.js
Labels: bug, area: graphics

#5839 Compose render pass contains color grading
  examples/src/examples/graphics/post-processing.mjs
  extras/render-passes/render-pass-compose.js
Labels: feature request, area: graphics

#5845 Update scheduling of directional light shadow render passes to be compatible with manual render passes
  examples/src/examples/graphics/post-processing.mjs
  src/scene/composition/render-action.js
  src/scene/frame-graph.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/render-pass-render-actions.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer-directional.js
Labels: feature request, area: graphics

#5860 Reproject fix
  src/scene/graphics/reproject-texture.js
Labels: bug, area: graphics

#5861 WebGPU support for TextureArrays
  examples/src/examples/graphics/texture-array.mjs
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgpu/webgpu-mipmap-renderer.js
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: feature request, area: graphics

#5867 Vignette support in the Compose render pass
  examples/src/examples/graphics/post-processing.mjs
  extras/render-passes/render-pass-compose.js
Labels: feature request, area: graphics

#5870 Fringing / Chromatic Aberration added to render pass compose
  examples/src/examples/graphics/post-processing.mjs
  extras/render-passes/render-pass-compose.js
Labels: feature request, area: graphics
