Repository playcanvas/engine, pull requests merged in 2023-03, with the labels that each got.

#5119 Add specular occlusion to sheen.
  src/scene/shader-lib/chunks/lit/frag/aoSpecOcc.js
  src/scene/shader-lib/chunks/lit/frag/aoSpecOccConst.js
  src/scene/shader-lib/chunks/lit/frag/aoSpecOccConstSimple.js
  src/scene/shader-lib/chunks/lit/frag/aoSpecOccSimple.js
Labels: bug, area: graphics

#5120 Removed setting material.blend as not needed by ParticleEmitter
  src/scene/particle-system/particle-emitter.js
Labels: area: particles

#5118 WebGPU support to shadow atlas (shadow cascades + clustered shadows)
  src/framework/app-base.js
  src/platform/graphics/constants.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-texture.js
  src/scene/immediate/immediate.js
  src/scene/lighting/light-texture-atlas.js
  src/scene/renderer/renderer.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLight.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLightShadows.js
Labels: area: graphics

#5122 Small documentation improvements
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/blend-state.js
  src/scene/graphics/quad-render.js
  src/scene/mesh-instance.js
Labels: docs

#5129 Small fixes in examples to avoid debug errors / warnings
  examples/src/examples/graphics/area-lights.tsx
  examples/src/examples/graphics/mesh-deformation.tsx
  src/scene/immediate/immediate.js
Labels: area: examples

#5130 Exposed MeshInstance.castShadow
  src/scene/mesh-instance.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics

#5128 WebGPU clear renderer, allowing render target clear using a quad rendering
  src/framework/lightmapper/lightmapper.js
  src/platform/graphics/constants.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/shader.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-clear-renderer.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
  src/platform/graphics/webgpu/webgpu-shader.js
  src/platform/graphics/webgpu/webgpu-texture.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer-layout.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer-directional.js
  src/scene/renderer/shadow-renderer-local.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics

#5139 Lazily evaluate disjoint timer extension
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: performance, area: graphics

#5140 Optimize morph target animation creation from glb data
  src/framework/parsers/glb-parser.js
Labels: performance, area: animation

#5141 Updated tint wasm compiler to up to date version
  examples/src/lib/twgsl/twgsl.js
  examples/src/lib/twgsl/twgsl.wasm
Labels: area: graphics

#5148 WebGPU renderer handles canvas size change
  rollup.config.mjs
  src/core/debug.js
  src/framework/app-base.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
  src/platform/graphics/webgpu/webgpu-debug.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/platform/graphics/webgpu/webgpu-shader.js
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: area: graphics

#5112 [Anim Component] Support empty AnimTracks
  src/framework/anim/controller/anim-controller.js
  src/framework/anim/controller/anim-state.js
  src/framework/anim/evaluator/anim-evaluator.js
  src/framework/anim/evaluator/anim-track.js
  src/framework/components/anim/component-layer.js
  src/framework/components/anim/component.js
  test/framework/anim/evaluator/anim-evaluator.test.mjs
  test/framework/anim/evaluator/anim-track.test.mjs
Labels: area: animation

#5151 Examples working on WebGPU device are enabled to use it in Examples Browser
  examples/src/examples/graphics/batching-dynamic.tsx
  examples/src/examples/graphics/box-reflection.tsx
  examples/src/examples/graphics/clustered-lighting.tsx
  examples/src/examples/graphics/clustered-spot-shadows.tsx
  examples/src/examples/graphics/grab-pass.tsx
  examples/src/examples/graphics/hardware-instancing.tsx
  examples/src/examples/graphics/hierarchy.tsx
  examples/src/examples/graphics/layers.tsx
  examples/src/examples/graphics/lines.tsx
  examples/src/examples/graphics/material-anisotropic.tsx
  examples/src/examples/graphics/material-basic.tsx
  examples/src/examples/graphics/material-clear-coat.tsx
  examples/src/examples/graphics/material-physical.tsx
  examples/src/examples/graphics/material-translucent-specular.tsx
  examples/src/examples/graphics/mesh-decals.tsx
  examples/src/examples/graphics/mesh-deformation.tsx
  examples/src/examples/graphics/mesh-generation.tsx
  examples/src/examples/graphics/mesh-morph-many.tsx
  examples/src/examples/graphics/mesh-morph.tsx
  examples/src/examples/graphics/model-asset.tsx
  examples/src/examples/graphics/model-textured-box.tsx
  examples/src/examples/graphics/multi-view.tsx
  examples/src/examples/graphics/render-asset.tsx
  examples/src/examples/graphics/render-cubemap.tsx
  examples/src/examples/graphics/shader-burn.tsx
  examples/src/examples/graphics/shader-toon.tsx
  examples/src/examples/graphics/shader-wobble.tsx
  examples/src/examples/graphics/shadow-cascades.tsx
  examples/src/examples/graphics/shapes.tsx
Labels: area: examples

#5150 [BREAKING] DepthState implementation for WebGL and WebGPU
  extras/mini-stats/render2d.js
  src/deprecated/deprecated.js
  src/framework/lightmapper/lightmapper.js
  src/index.js
  src/platform/graphics/blend-state.js
  src/platform/graphics/depth-state.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-clear-renderer.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
  src/scene/graphics/quad-render-utils.js
  src/scene/materials/material.js
  src/scene/particle-system/gpu-updater.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/shadow-renderer.js
  test/platform/graphics/depth-state.test.mjs
Labels: area: graphics

#5155 Fix for blend tree animations
  src/framework/components/anim/component.js
Labels: bug, area: animation

#5131 Optimized GPU cost if zero clustered lights
  src/scene/lighting/world-clusters.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLight.js
Labels: performance

#5158 Enabled multiple examples for WebGPU
  examples/src/examples/animation/blend-trees-1d.tsx
  examples/src/examples/animation/tween.tsx
  examples/src/examples/input/gamepad.tsx
  examples/src/examples/input/keyboard.tsx
  examples/src/examples/input/mouse.tsx
  examples/src/examples/misc/hello-world.tsx
  examples/src/examples/misc/spineboy.tsx
  examples/src/examples/physics/vehicle.tsx
  examples/src/examples/user-interface/button-basic.tsx
  examples/src/examples/user-interface/button-sprite.tsx
  examples/src/examples/user-interface/custom-shader.tsx
  examples/src/examples/user-interface/layout-group.tsx
  examples/src/examples/user-interface/text-auto-font-size.tsx
  examples/src/examples/user-interface/text-localization.tsx
  examples/src/examples/user-interface/text-typewriter.tsx
  examples/src/examples/user-interface/text.tsx
  examples/src/examples/user-interface/world-to-screen.tsx
  examples/src/examples/user-interface/world-ui.tsx
Labels: area: examples

#5164 WebGPU - fix rendering with single-sampled framebuffer
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-target.js
Labels: area: graphics

#5166 Deprecate `StandardMaterial#shininess`
  examples/src/examples/animation/events.tsx
  examples/src/examples/animation/tween.tsx
  examples/src/examples/graphics/area-lights.tsx
  examples/src/examples/graphics/area-picker.tsx
  examples/src/examples/graphics/batching-dynamic.tsx
  examples/src/examples/graphics/box-reflection.tsx
  examples/src/examples/graphics/clustered-area-lights.tsx
  examples/src/examples/graphics/clustered-lighting.tsx
  examples/src/examples/graphics/clustered-omni-shadows.tsx
  examples/src/examples/graphics/clustered-spot-shadows.tsx
  examples/src/examples/graphics/grab-pass.tsx
  examples/src/examples/graphics/hardware-instancing.tsx
  examples/src/examples/graphics/light-physical-units.tsx
  examples/src/examples/graphics/material-anisotropic.tsx
  examples/src/examples/graphics/material-clear-coat.tsx
  examples/src/examples/graphics/material-physical.tsx
  examples/src/examples/graphics/material-translucent-specular.tsx
  examples/src/examples/graphics/mesh-decals.tsx
  examples/src/examples/graphics/mesh-generation.tsx
  examples/src/examples/graphics/mesh-morph-many.tsx
  examples/src/examples/graphics/paint-mesh.tsx
  examples/src/examples/graphics/post-effects.tsx
  examples/src/examples/graphics/render-cubemap.tsx
  examples/src/examples/graphics/shader-compile.tsx
  examples/src/examples/graphics/texture-basis.tsx
  extras/exporters/usdz-exporter.js
  src/deprecated/deprecated.js
  src/framework/components/anim/component-binder.js
  src/scene/materials/standard-material-options.js
  src/scene/materials/standard-material.js
  test/scene/materials/standard-material.test.mjs
  types-fixup.mjs
Labels: bug, area: graphics

#5165 Http arrayBuffer fix
  src/platform/net/http.js
Labels: bug, area: assets

#5169 Correctly handle absolute URLs in gltf
  src/framework/parsers/glb-parser.js
Labels: bug, area: gltf

#5170 Fixes and workarounds to bring multiple examples to work on WebGPU
  examples/src/examples/graphics/clustered-area-lights.tsx
  examples/src/examples/graphics/ground-fog.tsx
  examples/src/examples/graphics/post-effects.tsx
  src/platform/graphics/graphics-device-create.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/render-pass.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-target.js
  src/scene/frame-graph.js
  src/scene/graphics/quad-render-utils.js
Labels: area: graphics, area: examples

#5173 WebGPU Render pipeline validation in debug mode
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
Labels: area: graphics

#5174 Sample shadow maps using LOD instruction on WebGPU
  src/platform/graphics/shader-chunks/frag/webgpu.js
Labels: area: graphics

#5175 Workaround for 8bit GLB index buffers not supported on WebGPU
  examples/src/examples/graphics/light-physical-units.tsx
  src/framework/parsers/glb-parser.js
Labels: area: graphics

#5172 [Anim Component] Unloaded animation assignment fix
  src/framework/anim/controller/anim-controller.js
  src/framework/anim/evaluator/anim-clip.js
  src/framework/anim/evaluator/anim-evaluator.js
  src/framework/components/anim/system.js
  test/framework/anim/controller/anim-controller.test.mjs
Labels: bug, area: animation

#5179 Add `RaycastResult` sorting on `RigidBodyComponentSystem#raycastAll`
  src/framework/components/rigid-body/system.js
Labels: feature request, area: physics, release: next minor

#5182 Improved error logging when using current render target as texture
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: area: graphics

#5078 Parse models asynchronously
  src/framework/handlers/animation.js
  src/framework/handlers/model.js
  src/framework/parsers/glb-model.js
  src/framework/parsers/glb-parser.js
  src/framework/parsers/json-model.js
Labels: bug, area: gltf

#5186 Simple planar-renderer script to render planar reflections
  examples/assets/cubemaps/table-mountain-env-atlas.png
  examples/src/examples/graphics/index.mjs
  examples/src/examples/graphics/reflection-box.tsx
  examples/src/examples/graphics/reflection-cubemap.tsx
  examples/src/examples/graphics/reflection-planar.tsx
  scripts/utils/cubemap-renderer.js
  scripts/utils/planar-renderer.js
  src/core/math/mat4.js
  src/core/shape/plane.js
  src/framework/components/element/element-drag-helper.js
  test/core/shape/plane.test.mjs
Labels: area: graphics

#5189 Set default value for twoSidedLightingNegScaleFactor as renderer does not always set it
  src/scene/renderer/renderer.js
Labels: area: graphics

#5194 Addition of private helper debug only function to help guard against destroyed objects being used.
  rollup.config.mjs
  src/core/debug.js
  src/platform/graphics/render-target.js
Labels: area: graphics

#5196 Updates to Plane’s class constructor, to take a distance instead of a point
  scripts/utils/planar-renderer.js
  src/core/math/mat4.js
  src/core/shape/plane.js
  src/framework/components/element/element-drag-helper.js
  test/core/shape/plane.test.mjs
Labels: area: graphics

#5104 Further separation of frontend and backend shaders
  src/platform/graphics/constants.js
  src/platform/graphics/graphics-device-create.js
  src/scene/shader-lib/chunks/chunk-validation.js
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/lit/frag/TBN.js
  src/scene/shader-lib/chunks/lit/frag/TBNObjectSpace.js
  src/scene/shader-lib/chunks/lit/frag/TBNderivative.js
  src/scene/shader-lib/chunks/lit/frag/TBNfast.js
  src/scene/shader-lib/chunks/lit/frag/ambientConstant.js
  src/scene/shader-lib/chunks/lit/frag/ambientEnv.js
  src/scene/shader-lib/chunks/lit/frag/ambientSH.js
  src/scene/shader-lib/chunks/lit/frag/aoDiffuseOcc.js
  src/scene/shader-lib/chunks/lit/frag/aoSpecOcc.js
  src/scene/shader-lib/chunks/lit/frag/aoSpecOccConst.js
  src/scene/shader-lib/chunks/lit/frag/aoSpecOccConstSimple.js
  src/scene/shader-lib/chunks/lit/frag/aoSpecOccSimple.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLight.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLightShadows.js
  src/scene/shader-lib/chunks/lit/frag/combine.js
  src/scene/shader-lib/chunks/lit/frag/end.js
  src/scene/shader-lib/chunks/lit/frag/falloffInvSquared.js
  src/scene/shader-lib/chunks/lit/frag/falloffLinear.js
  src/scene/shader-lib/chunks/lit/frag/fresnelSchlick.js
  src/scene/shader-lib/chunks/lit/frag/iridescenceDiffraction.js
  src/scene/shader-lib/chunks/lit/frag/lightDiffuseLambert.js
  src/scene/shader-lib/chunks/lit/frag/lightSheen.js
  src/scene/shader-lib/chunks/lit/frag/lightSpecularAnisoGGX.js
  src/scene/shader-lib/chunks/lit/frag/lightSpecularBlinn.js
  src/scene/shader-lib/chunks/lit/frag/lightSpecularPhong.js
  src/scene/shader-lib/chunks/lit/frag/lightmapAdd.js
  src/scene/shader-lib/chunks/lit/frag/lightmapDirAdd.js
  src/scene/shader-lib/chunks/lit/frag/ltc.js
  src/scene/shader-lib/chunks/lit/frag/metalnessModulate.js
  src/scene/shader-lib/chunks/lit/frag/outputAlpha.js
  src/scene/shader-lib/chunks/lit/frag/outputAlphaPremul.js
  src/scene/shader-lib/chunks/lit/frag/reflDir.js
  src/scene/shader-lib/chunks/lit/frag/reflDirAniso.js
  src/scene/shader-lib/chunks/lit/frag/reflectionCC.js
  src/scene/shader-lib/chunks/lit/frag/reflectionCube.js
  src/scene/shader-lib/chunks/lit/frag/reflectionEnv.js
  src/scene/shader-lib/chunks/lit/frag/reflectionEnvHQ.js
  src/scene/shader-lib/chunks/lit/frag/reflectionSheen.js
  src/scene/shader-lib/chunks/lit/frag/reflectionSphere.js
  src/scene/shader-lib/chunks/lit/frag/reflectionSphereLow.js
  src/scene/shader-lib/chunks/lit/frag/refractionCube.js
  src/scene/shader-lib/chunks/lit/frag/refractionDynamic.js
  src/scene/shader-lib/chunks/lit/frag/shadowCommon.js
  src/scene/shader-lib/chunks/lit/frag/shadowCoord.js
  src/scene/shader-lib/chunks/lit/frag/shadowCoordPerspZbuffer.js
  src/scene/shader-lib/chunks/lit/frag/shadowEVSM.js
  src/scene/shader-lib/chunks/lit/frag/shadowEVSMn.js
  src/scene/shader-lib/chunks/lit/frag/shadowStandard.js
  src/scene/shader-lib/chunks/lit/frag/shadowStandardGL2.js
  src/scene/shader-lib/chunks/lit/frag/shadowVSM8.js
  src/scene/shader-lib/chunks/lit/frag/spot.js
  src/scene/shader-lib/chunks/standard/frag/litShaderArgs.js
  src/scene/shader-lib/programs/lit-shader.js
  src/scene/shader-lib/programs/standard.js
Labels: area: graphics

#5201 Fix refraction chunks
  src/scene/shader-lib/chunks/lit/frag/refractionCube.js
  src/scene/shader-lib/chunks/lit/frag/refractionDynamic.js
Labels: bug, area: graphics

#5203 Anim engine examples updated to work on WebGPU
  examples/src/examples/animation/blend-trees-2d-cartesian.tsx
  examples/src/examples/animation/blend-trees-2d-directional.tsx
  examples/src/examples/animation/component-properties.tsx
  examples/src/examples/animation/events.tsx
  examples/src/examples/animation/layer-masks.tsx
  examples/src/examples/animation/locomotion.tsx
  examples/src/examples/graphics/painter.tsx
Labels: area: examples

#5204 Optimize the handling of cull state for negatively scaled world transforms
  src/scene/graph-node.js
  src/scene/renderer/renderer.js
Labels: performance, area: graphics

#5205 Fix lightmapping with 1.62
  src/framework/lightmapper/lightmapper.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLight.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLightShadows.js
  src/scene/shader-lib/chunks/lit/frag/lightSpecularPhong.js
  src/scene/shader-lib/chunks/lit/frag/lightmapAdd.js
  src/scene/shader-lib/chunks/lit/frag/lightmapDirAdd.js
  src/scene/shader-lib/chunks/lit/frag/spot.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: bug, area: graphics

#5206 Remove destroyed asserts in render target as grab pass re-uses it when resizing
  src/platform/graphics/render-target.js
Labels: area: graphics

#5207 Further cleanup / optimization to the way face culling is handled
  src/core/math/mat4.js
  src/scene/batching/batch-manager.js
  src/scene/graph-node.js
  src/scene/mesh-instance.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer.js
Labels: performance, area: graphics

#5214 [Examples Browser] Update Dependencies
  examples/package-lock.json
  examples/package.json
Labels: dependencies, area: examples

#5208 Async draco decompression
  src/core/wasm-module.js
  src/framework/parsers/draco-decoder.js
  src/framework/parsers/draco-worker.js
  src/framework/parsers/glb-parser.js
  src/index.js
Labels: area: assets

#5220 Replace the use of deprecated Vec3.scale by Vec3.mulScalar in camera scripts
  scripts/camera/first-person-camera.js
  scripts/camera/orbit-camera.js
Labels: area: examples

#5221 Added support for face-culling to WebGPU
  src/deprecated/deprecated.js
  src/platform/graphics/constants.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-clear-renderer.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-render-pipeline.js
  src/scene/graphics/quad-render-utils.js
  src/scene/materials/material.js
Labels: area: graphics

#5222 Converted Physics examples to use createGraphicsDevice and work on WebGPU
  examples/src/examples/physics/compound-collision.tsx
  examples/src/examples/physics/falling-shapes.tsx
  examples/src/examples/physics/offset-collision.tsx
  examples/src/examples/physics/raycast.tsx
Labels: area: examples
