Repository playcanvas/engine, pull requests merged in 2024-04, with the labels that each got.

#6211 Update createTree to use correct parameters
  src/framework/anim/controller/anim-blend-tree.js
Labels: bug, area: animation

#6201 Implementation of StorageBuffer on WebGPU
  examples/src/examples/compute/histogram/config.mjs
  examples/src/examples/compute/histogram/example.mjs
  examples/src/examples/compute/texture-gen/example.mjs
  src/core/constants.js
  src/index.js
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/bind-group.js
  src/platform/graphics/compute.js
  src/platform/graphics/constants.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/storage-buffer.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
  src/platform/graphics/webgpu/webgpu-buffer.js
  src/platform/graphics/webgpu/webgpu-compute.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-index-buffer.js
  src/platform/graphics/webgpu/webgpu-uniform-buffer.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer.js
  src/scene/renderer/render-pass-forward.js
Labels: feature request, area: graphics, area: examples

#5924 Add example to test normals and tangents (and fix WebGL)
  examples/assets/models/NormalTangentTest.glb
  examples/assets/models/NormalTangentTest.txt
  examples/src/examples/graphics/normals-and-tangents/config.mjs
  examples/src/examples/graphics/normals-and-tangents/example.mjs
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/lit/frag/twoSidedLighting.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: bug, area: graphics, area: examples

#6213 GSplat rendering no longer uses instancing
  scripts/camera/orbit-camera.js
  src/framework/components/gsplat/component.js
  src/platform/graphics/shader-chunks/vert/webgpu.js
  src/scene/gsplat/gsplat-instance.js
  src/scene/gsplat/gsplat-sorter.js
  src/scene/gsplat/gsplat.js
  src/scene/gsplat/shader-generator-gsplat.js
  src/scene/mesh.js
Labels: performance, area: graphics

#6216 Compute shader bind group can specify textures without samplers
  examples/src/examples/compute/histogram/config.mjs
  examples/src/examples/compute/histogram/example.mjs
  examples/src/examples/compute/texture-gen/config.mjs
  examples/src/examples/compute/texture-gen/example.mjs
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
Labels: area: graphics, enhancement

#6221 Simplified BindGroup constructor
  examples/src/examples/compute/histogram/example.mjs
  examples/src/examples/compute/texture-gen/example.mjs
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/shader-processor.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics, enhancement

#6220 Missing example thumbnails
  examples/thumbnails/compute_histogram_large.webp
  examples/thumbnails/compute_histogram_small.webp
  examples/thumbnails/graphics_normals-and-tangents_large.webp
  examples/thumbnails/graphics_normals-and-tangents_small.webp
Labels: area: examples

#6222 Renamed BindBufferFormat to BindUniformBufferFormat
  examples/src/examples/compute/texture-gen/example.mjs
  examples/src/examples/graphics/wgsl-shader/example.mjs
  src/index.js
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/shader-processor.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-bind-group.js
  src/platform/graphics/webgpu/webgpu-clear-renderer.js
  src/scene/renderer/renderer.js
  src/scene/renderer/shadow-renderer.js
Labels: area: graphics, enhancement

#6226 Compute shaders can read / write index and vertex buffers
  examples/src/examples/compute/vertex-update/config.mjs
  examples/src/examples/compute/vertex-update/example.mjs
  examples/thumbnails/compute_vertex-update_large.webp
  examples/thumbnails/compute_vertex-update_small.webp
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/compute.js
  src/platform/graphics/index-buffer.js
  src/platform/graphics/vertex-buffer.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-index-buffer.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer.js
  src/scene/mesh.js
  src/scene/procedural.js
Labels: feature request, area: graphics

#6227 Sourcemap revert to inline
  utils/rollup-build-target.mjs
Labels: bug

#6232 Mesh can be created and used without vertex attributes
  src/scene/mesh-instance.js
  src/scene/mesh.js
Labels: area: graphics, enhancement

#6233 Particles example using compute shader simulation
  examples/src/examples/compute/particles/config.mjs
  examples/src/examples/compute/particles/example.mjs
  examples/src/examples/graphics/wgsl-shader/config.mjs
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/bind-group.js
  src/platform/graphics/storage-buffer.js
  src/platform/graphics/webgpu/webgpu-buffer.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: feature request, area: graphics, area: examples

#6238 Handle a render pass debug logging issue where index is not provided
  src/platform/graphics/render-pass.js
Labels: bug, area: graphics

#6246 Fix to recent VertexBuffer refactoring
  src/platform/graphics/vertex-buffer.js
Labels: bug, area: graphics

#6247 checks rollup args for if environment flag is included
  build.mjs
Labels: bug

#6242 The Preprocessor class now handles includes
  src/core/preprocessor.js
  src/platform/graphics/shader.js
  test/core/preprocessor.test.mjs
Labels: area: graphics, enhancement

#6251 ESM Scripts lower camel case
  src/framework/handlers/script.js
Labels: area: scripts

#6250 Basic shader generation refactoring
  src/core/preprocessor.js
  src/platform/graphics/shader-utils.js
  src/platform/graphics/shader.js
  src/scene/shader-lib/program-library.js
  src/scene/shader-lib/programs/basic.js
  test/core/preprocessor.test.mjs
Labels: area: graphics, enhancement

#6237 Add Script alias
  src/deprecated/deprecated.js
  src/framework/components/script/component.js
  src/framework/entity.js
  src/framework/handlers/script.js
  src/framework/script/script-attributes.js
  src/framework/script/script-create.js
  src/framework/script/script-registry.js
  src/framework/script/script-type.js
  src/framework/script/script.js
  src/index.js
  test/framework/entity.test.mjs
  utils/plugins/rollup-types-fixup.mjs
Labels: area: scripts

#6253 Updated handling of defines specified by a shader definition
  src/core/preprocessor.js
  src/platform/graphics/shader-utils.js
  src/platform/graphics/shader.js
  src/scene/shader-lib/programs/basic.js
  test/core/preprocessor.test.mjs
Labels: area: graphics, enhancement

#6254 Do not create a sky shader variant based on skyIntensity being equal to 1
  src/scene/materials/lit-material-options-builder.js
  src/scene/materials/standard-material-options-builder.js
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/common/frag/envConst.js
  src/scene/shader-lib/chunks/skybox/frag/skyboxHDR.js
  src/scene/shader-lib/programs/lit-shader.js
  src/scene/shader-lib/programs/skybox.js
  src/scene/skybox/sky-mesh.js
Labels: area: graphics, enhancement

#6249 Exposed gizmo color alpha
  examples/src/examples/misc/gizmos/controls.mjs
  examples/src/examples/misc/gizmos/example.mjs
  extras/gizmo/transform-gizmo.js
Labels: enhancement

#6228 Extras merged into engine
  .github/workflows/ci.yml
  examples/bundle.tar
  examples/iframe/example.html
  examples/iframe/loader.mjs
  examples/iframe/ministats.mjs
  examples/package-lock.json
  examples/package.json
  examples/rollup.config.js
  examples/scripts/standalone-html.mjs
  examples/src/examples/graphics/dithered-transparency/example.mjs
  examples/src/examples/graphics/post-processing/example.mjs
  examples/src/examples/graphics/taa/example.mjs
  examples/src/examples/loaders/bundle/example.mjs
  examples/src/examples/loaders/gltf-export/example.mjs
  examples/src/examples/loaders/usdz-export/example.mjs
  examples/src/examples/misc/gizmos/example.mjs
  examples/src/examples/misc/mini-stats/example.mjs
  extras/.eslintrc.json
  extras/jsconfig.json
  extras/package-lock.json
  extras/package.json
  package.json
  rollup.config.mjs
  src/extras/exporters/core-exporter.js
  src/extras/exporters/gltf-exporter.js
  src/extras/exporters/usdz-exporter.js
  src/extras/gizmo/axis-shapes.js
  src/extras/gizmo/default-colors.js
  src/extras/gizmo/gizmo.js
  src/extras/gizmo/mesh-tri-data.js
  src/extras/gizmo/rotate-gizmo.js
  src/extras/gizmo/scale-gizmo.js
  src/extras/gizmo/transform-gizmo.js
  src/extras/gizmo/translate-gizmo.js
  src/extras/index.js
  src/extras/mini-stats/cpu-timer.js
  src/extras/mini-stats/gpu-timer.js
  src/extras/mini-stats/graph.js
  src/extras/mini-stats/mini-stats.js
  src/extras/mini-stats/render2d.js
  src/extras/mini-stats/stats-timer.js
  src/extras/mini-stats/word-atlas.js
  src/extras/render-passes/render-pass-bloom.js
  src/extras/render-passes/render-pass-camera-frame.js
  src/extras/render-passes/render-pass-compose.js
  src/extras/render-passes/render-pass-downsample.js
  src/extras/render-passes/render-pass-prepass.js
  src/extras/render-passes/render-pass-taa.js
  src/extras/render-passes/render-pass-upsample.js
  src/index.js
  tsconfig.build.json
  tsconfig.extras.json
  utils/plugins/rollup-import-validation.mjs
  utils/rollup-babel-options.mjs
  utils/rollup-build-target.mjs
  utils/rollup-script-target.mjs
Labels: area: examples, enhancement

#6255 Require all supported WebGPU limits when creating a device
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: area: graphics, enhancement

#6256 Mark WebGPU compute examples public
  examples/src/examples/compute/histogram/config.mjs
  examples/src/examples/compute/particles/config.mjs
  examples/src/examples/compute/texture-gen/config.mjs
  examples/src/examples/compute/vertex-update/config.mjs
Labels: area: examples

#6147 ES6 createScript
  src/framework/script/script-create.js
Labels: enhancement

#6257 Example build fixes
  .github/workflows/ci.yml
  examples/jsconfig.json
  examples/rollup.config.js
  examples/utils/plugins/rollup-copy-static.mjs
  examples/utils/plugins/rollup-generate-standalone.mjs
  examples/utils/rollup-watch.mjs
  examples/utils/utils.mjs
Labels: enhancement

#6259 Split primitives.js into separate modules
  src/deprecated/deprecated.js
  src/extras/gizmo/axis-shapes.js
  src/framework/components/model/component.js
  src/framework/components/render/component.js
  src/framework/parsers/glb-parser.js
  src/index.js
  src/scene/procedural.js
  src/scene/procedural/box.js
  src/scene/procedural/capsule.js
  src/scene/procedural/cone-data.js
  src/scene/procedural/cone.js
  src/scene/procedural/create-mesh.js
  src/scene/procedural/cylinder.js
  src/scene/procedural/plane.js
  src/scene/procedural/primitive-cache.js
  src/scene/procedural/sphere.js
  src/scene/procedural/torus.js
  src/scene/skybox/sky-geometry.js
  src/scene/sprite.js
Labels: area: graphics, enhancement

#6258 Compute shader JSDocs + small API changes
  examples/src/examples/compute/histogram/example.mjs
  examples/src/examples/compute/particles/example.mjs
  examples/src/examples/compute/texture-gen/example.mjs
  examples/src/examples/compute/vertex-update/example.mjs
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/bind-group.js
  src/platform/graphics/compute.js
  src/platform/graphics/constants.js
  src/platform/graphics/storage-buffer.js
  src/platform/graphics/uniform-buffer-format.js
  src/platform/graphics/webgpu/webgpu-compute.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-shader.js
Labels: docs, area: graphics, enhancement

#6260 Examples error handling
  examples/iframe/loader.mjs
  examples/src/app/components/CodeEditor.mjs
  examples/src/app/components/ErrorBoundary.mjs
  examples/src/app/components/Example.mjs
  examples/src/app/components/MainLayout.mjs
  examples/src/app/events.js
  examples/src/static/styles.css
Labels: enhancement

#6261 Procedural geometry refactoring, createMesh and similar deprecation
  examples/src/examples/compute/vertex-update/example.mjs
  examples/src/examples/graphics/clustered-lighting/example.mjs
  examples/src/examples/graphics/ground-fog/example.mjs
  examples/src/examples/graphics/mesh-morph/example.mjs
  examples/src/examples/graphics/paint-mesh/example.mjs
  examples/src/examples/graphics/reflection-cubemap/example.mjs
  examples/src/examples/graphics/texture-array/example.mjs
  examples/src/examples/graphics/texture-basis/example.mjs
  examples/src/examples/loaders/gltf-export/example.mjs
  scripts/parsers/obj-model.js
  scripts/physics/render-physics.js
  src/deprecated/deprecated.js
  src/extras/gizmo/axis-shapes.js
  src/framework/components/model/component.js
  src/framework/components/render/component.js
  src/framework/graphics/primitive-cache.js
  src/framework/parsers/glb-parser.js
  src/index.js
  src/platform/graphics/transform-feedback.js
  src/scene/geometry/box-geometry.js
  src/scene/geometry/capsule-geometry.js
  src/scene/geometry/cone-base-geometry.js
  src/scene/geometry/cone-geometry.js
  src/scene/geometry/cylinder-geometry.js
  src/scene/geometry/geometry-utils.js
  src/scene/geometry/geometry.js
  src/scene/geometry/plane-geometry.js
  src/scene/geometry/sphere-geometry.js
  src/scene/geometry/torus-geometry.js
  src/scene/mesh-instance.js
  src/scene/mesh.js
  src/scene/procedural/box.js
  src/scene/procedural/capsule.js
  src/scene/procedural/cone-data.js
  src/scene/procedural/cone.js
  src/scene/procedural/cylinder.js
  src/scene/procedural/plane.js
  src/scene/procedural/sphere.js
  src/scene/procedural/torus.js
  src/scene/skybox/sky-geometry.js
  src/scene/sprite.js
Labels: feature request, area: graphics

#6263 WebGPU - skip unsupported device limits when creating device
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: bug, area: graphics

#6264 Fix crash in GsplatMany example on WebGL due to no WebGL1 splat support
  examples/src/examples/loaders/gsplat-many/example.mjs
Labels: bug, area: examples

#6266 DomeGeometry for the skydome rendering - refactor
  src/index.js
  src/scene/geometry/dome-geometry.js
  src/scene/skybox/sky-geometry.js
Labels: area: graphics, enhancement

#6267 Add convex hull support to CollisionComponent
  src/framework/components/collision/component.js
  src/framework/components/collision/data.js
  src/framework/components/collision/system.js
Labels: area: physics, release: next minor, enhancement

#6268 Suport for reading from StorageTexture by a shader (WebGPU)
  src/platform/graphics/bind-group-format.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgpu/webgpu-bind-group-format.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: area: graphics, enhancement

#6269 Converted skydome shader generator to use defines and includes
  src/scene/shader-lib/chunks/skybox/frag/skyboxEnv.js
  src/scene/shader-lib/chunks/skybox/frag/skyboxHDR.js
  src/scene/shader-lib/program-library.js
  src/scene/shader-lib/programs/skybox.js
Labels: area: graphics, enhancement

#6271 Khronos PBR Neutral tone mapper for e-commerce
  examples/src/examples/graphics/asset-viewer/example.mjs
  examples/src/examples/graphics/post-processing/controls.mjs
  src/extras/render-passes/render-pass-compose.js
  src/framework/app-base.js
  src/scene/constants.js
  src/scene/scene.js
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/common/frag/tonemappingKhronosNeutral.js
  src/scene/shader-lib/programs/shader-generator.js
Labels: feature request, area: graphics

#6272 Renamed KhronosNeutral to just Neutral tone-mapper
  examples/src/examples/graphics/asset-viewer/example.mjs
  examples/src/examples/graphics/post-processing/controls.mjs
  src/extras/render-passes/render-pass-compose.js
  src/framework/app-base.js
  src/scene/constants.js
  src/scene/scene.js
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/common/frag/tonemappingNeutral.js
  src/scene/shader-lib/programs/shader-generator.js
Labels: area: graphics, enhancement

#6273 Workaround for Firefox WebGPU device creation fail
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: area: graphics

#6274 Fix to WebGPU vertex buffer setup
  examples/src/examples/graphics/mesh-morph-many/config.mjs
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/platform/graphics/webgpu/webgpu-vertex-buffer-layout.js
Labels: bug, area: graphics

#6278 UI Particles example enabled on WebGPU platforms as working now
  examples/src/examples/user-interface/particle-system/config.mjs
Labels: area: examples

#6276 JSDoc highlighting
  examples/src/app/components/CodeEditor.mjs
  examples/src/app/monaco/theme.mjs
  examples/src/app/monaco/tokenizer-rules.mjs
Labels: enhancement

#6280 WebGPU - video texture support
  examples/src/examples/graphics/reflection-box/example.mjs
  examples/src/examples/graphics/video-texture/config.mjs
  examples/src/examples/graphics/video-texture/example.mjs
  src/platform/graphics/webgpu/webgpu-texture.js
Labels: feature request, area: graphics

#6281 WebGPU: Improved filtering on float textures
  src/platform/graphics/webgpu/webgpu-texture.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: area: graphics, enhancement

#6282 Fixes to Geometry classes JSDocs
  src/scene/geometry/box-geometry.js
  src/scene/geometry/capsule-geometry.js
  src/scene/geometry/cone-geometry.js
  src/scene/geometry/cylinder-geometry.js
  src/scene/geometry/dome-geometry.js
  src/scene/geometry/plane-geometry.js
  src/scene/geometry/sphere-geometry.js
  src/scene/geometry/torus-geometry.js
Labels: docs

#6283 Small fixups for JSDocs
  src/platform/graphics/render-target.js
  src/platform/graphics/uniform-buffer-format.js
Labels: docs

#6284 Be clear that Node 18+ is required
  .nvmrc
  README-ja.md
  README-kr.md
  README-zh.md
  README.md
  package.json
Labels: enhancement

#6285 WebGPU - request all optional features
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: area: graphics, enhancement

#6288 Examples build speedup
  examples/rollup.config.js
  examples/utils/plugins/rollup-copy-static.mjs
  examples/utils/plugins/rollup-generate-standalone.mjs
Labels: area: examples, enhancement

#6295 Removed WebGL1 depth grab support
  src/scene/camera.js
  src/scene/graphics/render-pass-depth.js
  src/scene/renderer/forward-renderer.js
Labels: area: graphics, enhancement

#6299 Remove WebGL1 testing for float / half float support
  src/deprecated/deprecated.js
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/gsplat/gsplat.js
  src/scene/morph.js
Labels: area: graphics, enhancement

#6300 Cleanup Texture and WebglTexture to remove WebGL1 functionality
  src/platform/graphics/constants.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgl/webgl-texture.js
Labels: area: graphics, enhancement

#6297 WebGL device ignores WebGL1 request and always creates WebGL2 device
  examples/src/examples/misc/multi-app/example.mjs
  src/platform/graphics/graphics-device-create.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  test/framework/anim/controller/anim-controller.test.mjs
  test/framework/anim/evaluator/anim-evaluator.test.mjs
  test/framework/application.test.mjs
  test/framework/asset/asset-list-loader.test.mjs
  test/framework/asset/asset-localized.test.mjs
  test/framework/asset/asset-registry.test.mjs
  test/framework/asset/asset.test.mjs
  test/framework/components/element/component.test.mjs
  test/framework/components/layout-group/component.test.mjs
  test/framework/components/layout-group/layout-calculator.test.mjs
  test/framework/components/model/component.test.mjs
  test/framework/components/system.test.mjs
  test/framework/entity.test.mjs
  test/framework/i18n/i18n.test.mjs
  test/framework/scene-registry.test.mjs
  test/framework/utils/entity-reference.test.mjs
  test/platform/graphics/webgl-graphics-device.test.mjs
  test/scene/batching/batch-manager.test.mjs
Labels: area: graphics

#6304 Remove references to pcx namespace
  src/extras/gizmo/gizmo.js
  src/extras/gizmo/rotate-gizmo.js
  src/extras/gizmo/scale-gizmo.js
  src/extras/gizmo/transform-gizmo.js
  src/extras/gizmo/translate-gizmo.js
  src/extras/mini-stats/mini-stats.js
Labels: bug, docs

#6290 Update Graphics markers to display better with hierarchy
  src/scene/mesh-instance.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/render-pass-forward.js
  src/scene/renderer/renderer.js
Labels: area: graphics, enhancement

#6305 Removed WebGL1 support related to standard derivatives
  src/deprecated/deprecated.js
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/render-target.js
  src/platform/graphics/shader-utils.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/light.js
  src/scene/renderer/shadow-renderer.js
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/lit/frag/biasConst.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: area: graphics, enhancement

#6306 WebGL1: removed supportsInstancing flag
  examples/src/examples/graphics/hardware-instancing/example.mjs
  src/deprecated/deprecated.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
Labels: area: graphics, enhancement

#6307 Examples removed WebGL1 option
  examples/iframe/utils.mjs
  examples/src/app/components/DeviceSelector.mjs
  examples/src/examples/misc/multi-app/controls.mjs
  examples/src/examples/misc/multi-app/example.mjs
Labels: area: examples

#6308 [Fix] Fix to skydomeIntensity handling - Standard materials do not use it in some cases
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/common/frag/envConst.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: bug, area: graphics

#6310 Include unbundled engine source in npm package
  package.json
Labels: bug

#6311 Removed WebGL1 related shadow rendering code
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/light.js
  src/scene/lighting/light-texture-atlas.js
  src/scene/renderer/shadow-map.js
  src/scene/renderer/shadow-renderer.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: area: graphics, enhancement

#6291 Added mesh particles example
  examples/src/examples/graphics/particles-mesh/config.mjs
  examples/src/examples/graphics/particles-mesh/example.mjs
  src/scene/particle-system/particle-emitter.js
Labels: area: examples

#6314 Remove WebGL1 support from the clustered lighting shader
  src/scene/lighting/lights-buffer.js
  src/scene/shader-lib/chunks/lit/frag/clusteredLight.js
Labels: area: graphics, enhancement

#6312 Cleanup of WebGLGraphicsDevice to strip out WebGL1 code
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: enhancement

#6320 Remove support for OES_element_index_uint on WebGL1
  src/framework/parsers/glb-parser.js
  src/framework/parsers/json-model.js
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/batching/batch-manager.js
Labels: area: graphics, enhancement

#6322 Remove WebGL1 handling from the XR implementation
  src/framework/xr/xr-manager.js
  src/framework/xr/xr-view.js
  src/platform/graphics/constants.js
Labels: area: graphics, area: xr, enhancement

#6321 Remove WebGL1 support from shader utils
  src/platform/graphics/shader-chunks/frag/gles2.js
  src/platform/graphics/shader-chunks/vert/gles2.js
  src/platform/graphics/shader-utils.js
  src/scene/shader-lib/chunks/chunks.js
Labels: area: graphics, enhancement

#6319 Remove WebGL1 support from vertex morphing
  src/scene/morph-instance.js
  src/scene/morph.js
  src/scene/shader-lib/chunks/common/vert/transform.js
  src/scene/shader-lib/chunks/lit/vert/normal.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: area: graphics, enhancement

#6324 Remove uniform buffer based skinning and batching
  src/deprecated/deprecated.js
  src/platform/graphics/graphics-device.js
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/batching/batch-manager.js
  src/scene/renderer/renderer.js
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/common/vert/skinBatchConst.js
  src/scene/shader-lib/chunks/common/vert/skinConst.js
  src/scene/shader-lib/programs/shader-generator.js
  src/scene/skin-instance.js
Labels: area: graphics, enhancement

#6325 Removed WebGL1 OES_texture_float extension support
  src/deprecated/deprecated.js
  src/platform/graphics/null/null-graphics-device.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/platform/graphics/webgpu/webgpu-graphics-device.js
  src/scene/graphics/env-lighting.js
  src/scene/gsplat/gsplat.js
  src/scene/lighting/lights-buffer.js
  src/scene/morph.js
  src/scene/particle-system/particle-emitter.js
Labels: area: graphics, enhancement

#6326 Fix a shader issue causing material-anisotropic example to fail
  src/scene/shader-lib/programs/lit-shader.js
Labels: bug, area: graphics
