Repository playcanvas/engine, pull requests merged in 2024-08, with the labels that each got.

#6869 Support for EXT_mesh_gpu_instancing extension
  examples/src/examples/graphics/instancing-glb.example.mjs
  examples/thumbnails/graphics_instancing-glb_large.webp
  examples/thumbnails/graphics_instancing-glb_small.webp
  src/framework/parsers/glb-container-resource.js
  src/framework/parsers/glb-parser.js
  src/scene/mesh-instance.js
Labels: feature request, area: graphics

#6865 Material can specify defines for the shader
  examples/assets/scripts/misc/hatch-material.mjs
  examples/src/examples/graphics/shader-hatch.controls.mjs
  examples/src/examples/graphics/shader-hatch.example.mjs
  examples/src/examples/loaders/gsplat-many.example.mjs
  examples/src/examples/loaders/gsplat-many.shader.frag
  src/scene/gsplat/gsplat-compressed-material.js
  src/scene/gsplat/gsplat-material.js
  src/scene/gsplat/shader-generator-gsplat.js
  src/scene/materials/lit-material.js
  src/scene/materials/material.js
  src/scene/materials/shader-material.js
  src/scene/materials/standard-material.js
  src/scene/particle-system/particle-material.js
  src/scene/shader-lib/programs/lit-shader.js
  src/scene/shader-lib/programs/lit.js
  src/scene/shader-lib/programs/shader-generator-shader.js
  src/scene/shader-lib/programs/shader-generator.js
  src/scene/shader-lib/programs/standard.js
  src/scene/skybox/sky-mesh.js
Labels: area: graphics, enhancement

#6870 SSAO uses a separable depth aware blur to improve performance
  src/extras/render-passes/render-pass-depth-aware-blur.js
  src/extras/render-passes/render-pass-ssao.js
Labels: performance, area: graphics

#6867 [BREAKING] More general instancing
  examples/assets/models/low-poly-tree.glb
  examples/assets/models/low-poly-tree.txt
  examples/assets/scripts/misc/gooch-material.mjs
  examples/src/examples/graphics/instancing-basic.example.mjs
  examples/src/examples/graphics/instancing-custom.example.mjs
  examples/src/examples/graphics/instancing-gooch.example.mjs
  examples/thumbnails/graphics_instancing-basic_large.webp
  examples/thumbnails/graphics_instancing-basic_small.webp
  examples/thumbnails/graphics_instancing-custom_large.webp
  examples/thumbnails/graphics_instancing-custom_small.webp
  examples/thumbnails/graphics_instancing-gooch_large.webp
  examples/thumbnails/graphics_instancing-gooch_small.webp
  examples/thumbnails/graphics_instancing-simple_large.webp
  examples/thumbnails/graphics_instancing-simple_small.webp
  src/core/preprocessor.js
  src/scene/materials/standard-material.js
  src/scene/shader-lib/chunks/chunks.js
  src/scene/shader-lib/chunks/common/vert/normalCore.js
  src/scene/shader-lib/chunks/common/vert/transformCore.js
  src/scene/shader-lib/chunks/common/vert/transformInstancing.js
  src/scene/shader-lib/programs/lit-shader.js
  src/scene/shader-lib/programs/shader-generator-shader.js
Labels: feature request, area: graphics

#6872 Remove float rendering precision test for old WebGL devices
  src/deprecated/deprecated.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: area: graphics, enhancement

#6873 Removed few remaining .isWebGL2 tests that are now true
  src/platform/graphics/webgl/webgl-buffer.js
  src/platform/graphics/webgl/webgl-render-target.js
  src/scene/graphics/render-pass-color-grab.js
  src/scene/light.js
  src/scene/renderer/shadow-renderer.js
  src/scene/shader-lib/programs/lit-shader.js
Labels: area: graphics

#6848 Debug error removeComponent correct method name
  src/framework/entity.js
Labels: bug

#6883 [BREAKING] Instancing no longer ignores the model matrix
  examples/assets/models/simple-instancing.glb
  src/scene/shader-lib/chunks/common/vert/transformInstancing.js
Labels: bug, area: graphics, area: gltf, enhancement

#6884 [Fix] Fix to shadow baking
  examples/src/examples/graphics/lights-baked.example.mjs
  src/framework/lightmapper/bake-light.js
  src/scene/light.js
Labels: bug, area: graphics

#6885 Small cleanup of the internal dirty flags for the Texture properties
  src/platform/graphics/constants.js
  src/platform/graphics/texture.js
  src/platform/graphics/webgl/webgl-graphics-device.js
Labels: area: graphics, enhancement

#6886 [BREAKING] Remove no longer needed drawTexture
  src/index.js
  src/platform/graphics/webgl/webgl-graphics-device.js
  src/scene/graphics/quad-render-utils.js
Labels: area: graphics

#6888 [BREAKING] Remove support for Layer.renderTarget and some callbacks on the Layer
  src/deprecated/deprecated.js
  src/framework/app-base.js
  src/framework/components/camera/component.js
  src/scene/composition/layer-composition.js
  src/scene/composition/render-action.js
  src/scene/layer.js
  src/scene/mesh-instance.js
  src/scene/renderer/forward-renderer.js
  src/scene/renderer/render-pass-forward.js
  src/scene/renderer/renderer.js
Labels: area: graphics, enhancement

#6889 [BREAKING] Adjusted the alpha part of the normal blend used by the Materials
  src/scene/materials/material.js
Labels: area: graphics, enhancement

#6891 Use DeviceCache to store shape primitives in
  src/framework/graphics/primitive-cache.js
Labels: enhancement

#6892 Added few keywords to the package
  package.json
Labels: docs

#6894 Prefilter fix
  src/scene/graphics/reproject-texture.js
  src/scene/shader-lib/chunks/common/frag/reproject.js
Labels: bug, area: graphics

#6893 Prefilter fix (engine v1)
  src/scene/graphics/reproject-texture.js
  src/scene/shader-lib/chunks/common/frag/reproject.js
Labels: bug, area: graphics

#6896 Fix 3D Gaussian Splat rendering in VR
  src/scene/gsplat/gsplat-instance.js
Labels: bug, area: xr

#6898 OutlineRenderer and an engine example
  examples/src/examples/graphics/outlines-colored.example.mjs
  src/extras/index.js
  src/extras/renderers/outline-renderer.js
  src/framework/components/camera/component.js
  src/scene/materials/standard-material-options.js
  src/scene/mesh-instance.js
  src/scene/renderer/render-pass-forward.js
Labels: feature request, area: graphics
